.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    position: sticky;
    z-index: 999;
    background-color: white;
    line-height:50px;
}
.header .logo{
    display: flex;
    margin-left: 20px;


}
.header .logo .icon{
    color:#4267B2;
    margin-top: 14px;
}

.header .logo h3{
    letter-spacing: 2px;
    margin-left: 13px;
    color:#4267B2;
}

.list > ol{
    display: flex;

}
ol > li{
    padding-right: 15px;
    list-style: none;
}